

p { text-align: justify; 
   font-family: perpetua:
  }
h1 { background-color: #88ff88; }
h3 { background-color: #ffddcc; }
<!-- ID's referred by hashtag and refer too a specific item --> 
#DRFC {
  border: red dashed;
  padding: 10px;
  margin: 10px;
  height: 300px;
  width: 500px;
  backgorund0color: #f9e1b5;
  float: right;
}
#DRFC-img {
  width: 95%;
  height: 95%;
}

th,td {
  background-color: #ddd3dd;
  padding: 3px;
  
}
<!-- classes used too refer too multiple kinds of things, here is me styling it below -->  
.data {
  color: #666666;
  font-family: Georgia;
}

